sidekiq:
  clusters:
    cluster_name:
      url: http://cluster

    kappa:
      url: http://devbox/monitor/stats

  threshold: 100

rabbitmq:
  url: http://rabbitmq
  user: user
  password: password

slack:
  hook: http://hook
  channel: channel
  user: user
  annotations: annotation1, annotation2
